

.appDiv{
  background-color: yellow;
  display: grid;
  grid-template-rows: 1fr 65px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 20px;
  height: 100vh;
}

.inputDiv{
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 20px;
  max-height: fit-content;
  margin-bottom: 10px;
}

.input{
  border-radius: 7px;
  outline: none;
  padding: 13px 18px;
  border-width: 1px;
  font-size: 20px;
  display: flex;
  min-width: 20px;
  
}
.sendBut{
  background-color: rgb(126, 126, 253);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 7px;
}


img{
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.user{
  display: flex;
  justify-content: end;
  column-gap: 20px;
}
.robot{
  display: flex;
  justify-content: start;
  column-gap: 20px;
}
.message{
  align-self: center;
  background-color: rgb(222, 222, 255);
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  font-size: 20px;
  overflow-wrap: anywhere;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}

.messageDiv{
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px
}

@media (max-width: 600px) {
  .appDiv{
    width: 97%;
    grid-template-rows: 1fr 60px;
  }
  .input, .sendBut{
    padding: 10px;
  }
  
}
